*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
}
.chat-container{
  width: 100%;
  height: 100%;
  background-color: rgb(45, 56, 66);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.user-chat-box{
  width: 60%;
  position: relative;
  left: 40%;
  
}
.user-chat-area{
  width: 90%;
  padding: 20px;
  background-color: black;
  color: rgba(255, 255, 255, 0.71); 
  border-radius: 40px 0px 40px 40px;
  box-shadow: 2px 2px 20px black;
 
}
.ai-chat-box{   
  width: 60%;
  position: relative;

}
.ai-chat-area{
  width: 90%;
  padding: 20px;
  background-color: rgb(71, 69, 69);
  position: relative;
  left: 10%;
  background-color: black;
  color: rgba(255, 255, 255, 0.71); 
  border-radius: 40px 0px 40px 40px;
  box-shadow: 2px 2px 20px black;
 
  
}
#userImage{
  position: absolute;
  right: 0%;
  filter: drop-shadow(2px 2px 20px white)
}
#aiImage{
  position: absolute;
  left : 0%;
  filter: drop-shadow(2px 2px 20px black)
}
.prompt-area{
  width: 100%;
  height: 20%;
  background-color: rgb(45, 56, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.prompt-area input{
  width: 50%;
  height: 80px;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 20px black;
}
.prompt-area button{
  width: 70px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: none;
  box-shadow: 2px 2px 20px black;
  cursor: pointer;
}
.prompt-area button:hover{
  background-color: rgba(0, 0, 0, 0.338);
  
}